---
name: 'deploy'

'on':
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

jobs:
  forge_deploy:
    secrets:
      forge_token: ${{ secrets.BLACKSMITH_FORGE_API_KEY }}
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-forge-deploy.yml@v2.0.0
