---
name: 'test_deploy'

'on':
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'

jobs:
  test_build:
    uses: broadinstitute/shared-workflows/.github/workflows/puppet-build.yaml@v2.6.1
    with:
      puppet_package_name: broadinstitute-sentinelone_agent
